body
    {
    background-color:rgb(255, 255, 255);
    color: rgba(92, 103, 155, 0.644);
    word-spacing:15px;
    text-transform:unset;
}
h1{
    color: black;
    line-height:50px;
    text-align: center;
    background-color: rgb(149, 216, 216);
    text-transform:unset;
    word-spacing:10px;
}
h3{
    color: rgba(0, 0, 0, 0.719);
}
